html, body, ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

body {
	background: #000;
	color: #fff;
	font-family: verdana, sans-serif;
	margin: 10px 10px 10px 10px;
}

p{
    display:none;
    opacity:0.0;
    filter:alpha(opacity=0);
}